@import '../../style/colors.scss';

.project {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  padding: 25px;
  background: $primary-color;

  width: 350px;
  height: 300px;

  margin: 25px;

  overflow: hidden;

  border-radius: 5px 5px 5px 5px;
  border: 1px solid $gray-color;

  img {
    width: 100%;
  }
  
  h2 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .details {
    transition: all .2s ease-in-out;
    display: none;
  }

  &:hover {
    .details {
      display: block;
    }
  }
}

.project-gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}