@import '../../style/colors.scss';

.project {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  padding: 25px;
  background: $primary-color;

  margin: 25px;

  width: 100%;
  height: 100%;

  border-radius: 5px 5px 5px 5px;
  border: 1px solid $gray-color;
}

.project-gallery {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.project-thumbnail {
  height: 250px;
  width: 350px;
}