@import '../../style/colors.scss';

.logo {
  width: 10em;
  pointer-events: none;
  border-radius: 50%,
}

h2.portfolio-title {
  margin-bottom: 0px;
}

.social-link {
  height: 50px;
  width: 50px;
}

.landing {
  text-align: center;
  background-color: $primary-color;
  min-height: 50vh;
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
