@import '../../style/colors.scss';

.logo {
  // animation: logo-spin infinite 20s linear;
  width: 10em;
  pointer-events: none;
  border-radius: 50%,
}

.landing {
  position: relative !important;
  z-index: -1;
  text-align: center;
  background-color: $primary-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
