@import '../../style/colors.scss';

.portfolio-gallery {
  background-color: $primary-color;
  color: white;
  
  $font-size: calc(10px + 2vmin);

  .title {
    font-size: $font-size;
  }
}
