@import '../../style/colors.scss';

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color;

  height: 300px;

  margin: 25px;

  overflow: hidden;

  border-radius: 5px 5px 5px 5px;
  border: 1px solid $gray-color;

  img {
    height: 200px;
    margin: 15px;
  }
  
  h4 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .details {
    transition: all .2s ease-in-out;
    display: none;
  }
}

.portfolio-gallery {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.project-summary {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.project-image {
  @media (max-width: 768px) {
    display: none;
  }
}