@import '../../style/colors.scss';

.project {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $primary-color;

  cursor: pointer;
  padding: 0;

  width: 300px;
  min-width: 300px;
  min-height: 276px;

  margin: 25px;

  overflow: hidden;

  border-radius: 5px 5px 5px 5px;
  border: 1px solid $gray-color;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  h4 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .details {
    transition: all .2s ease-in-out;
    display: none;
  }

  @media (max-width: 768px) {
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 200px;
  }
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex-flow: column;
  }
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
}

.project-summary {
  display: flex;
  flex-flow: column;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $link-color;
}