@import '../../style/colors.scss';

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $primary-color;

  height: 200px;
  width: 200px;
  margin: 25px;

  overflow: hidden;

  border-radius: 5px 5px 5px 5px;
  border: 1px solid $gray-color;

  img {
    width: 450px;
    height: 100%;
    margin: 0;
  }

}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
}

.project-summary {
  z-index: 10;
  position: absolute;
  color: $primary-color;
  text-shadow: 0 0 25px $bright-color;
}