.about-me-section {
  padding: 200px;

  @media (max-width: 768px) {
    padding: 50px;
  }
}

.about-me {
  display: flex;

  .skill-list {
    .skill-tag {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 768px) {
    flex-flow: column;
  }
}

.portrait {
  margin: 20px;
}