@import '../../style/colors.scss';

#gallery {
  padding: 0;
  background-color: $secondary-color;
}

.gallery-selector {
  position: absolute;
  top: calc(100vh + 1rem);
}

.gallery-section {
  margin-top: 2.5rem;
  height: 100%;
}

.btn-selector {
  padding: 10px;
  border: 0;
  margin: 5px;

  color: white;
  background-color: $primary-color;

  &:hover {
    background-color: white;
    color: $primary-color;
  }
}

.btn-selector-active {
  background-color: $gray-color;
}