@import '../../style/colors.scss';

#gallery {
  display: inline-block;
  width: 100%;
  background-color: $secondary-color;

  .gallery-selector {
    margin: 2rem;
  }
}

.gallery-section {
  width: 100%;
  height: 100%;
  text-align: center;
}