@import '../../style/colors.scss';

.skill-tag {
  display: inline-block;
  font-size: 0.75rem;
  background-color: $secondary-color;
  color: white;
  padding: 3px;
  margin: 5px;
  
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 25px 25px 25px 25px;

  span {
    font-weight: bold;
  }
}