@import './style/colors.scss';

html {
  background-color: $gray-color;
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

#app {
  min-height: 100vh;
}

a {
  color: $link-color;
  text-decoration: none !important;

  &:active {
    color: $link-color;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  min-height: 100vh;
  color: white;
  text-align: center;

  padding-left: 100px;
  padding-right: 100px;
}

.logo {
  width: 10em;
  pointer-events: none;
  border-radius: 50%,
}

h2.portfolio-title {
  margin-bottom: 0px;
}

.social-link {
  height: 50px;
  width: 50px;

  @media (max-width: 768px) {
    height: 3rem;
    width: 3rem;
  }
  margin: 5px;
  transition: all .2s ease-in-out;
}

.social-link:hover {
  transform: scale(1.2);
}

.landing {
  background-image: url('./images/tywin_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: $primary-color;
  font-size: calc(10px + 2vmin);

  color: $bright-color;
  text-shadow: 0 0 10px $bright-color;
}

.page-links {
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: $gray-color;

  a {
    margin: 20px;
  }
}

.btn-selector {
  padding: 10px;
  border: 0;
  margin: 5px;

  color: white;
  background-color: $primary-color;

  &:hover {
    background-color: white;
    color: $primary-color;
  }

  &:focus {
    outline: 0;
  }

  cursor: pointer;
}

.btn-selector-active {
  background-color: $gray-color !important;
  color: white !important;
}