@import './style/colors.scss';

html {
  background-color: $gray-color;
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

#app {
  min-height: 100vh;
}

a {
  color: $link-color;
  text-decoration: none !important;

  &:active {
    color: $link-color;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  min-height: 100vh;
  color: white;

  padding-left: 100px;
  padding-right: 100px;
}