@import './style/colors.scss';

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

a {
  color: $link-color;
  text-decoration: none !important;

  &:active {
    color: $link-color;
  }
}